## -*- coding: utf-8 -*-
<%inherit file="list_post.tmpl"/>
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl" import="*"/>

<%block name="extra_head">
    ${feeds_translations.head(tag, kind, rss_override=False)}
</%block>

<%block name="content">
<article class="tagpage">
    <header>
        <h1>${title|h}</h1>
        %if description:
            <p>${description}</p>
        %endif
        %if subcategories:
        ${messages('Subcategories:')}
        <ul>
            %for name, link in subcategories:
            <li><a href="${link}">${name|h}</a></li>
            %endfor
        </ul>
        %endif
        <div class="metadata">
            ${feeds_translations.feed_link(tag, kind=kind)}
        </div>
        ${feeds_translations.translation_link(kind)}
    </header>
    %if posts:
        <ul class="postlist">
        % for post in posts:
            <li class="post-${post.meta('type')}"><time class="listdate" datetime="${post.formatted_date('webiso')}" title="${post.formatted_date(date_format)|h}">${post.formatted_date(date_format)|h}</time>
            <a href="${post.permalink()}" class="listtitle">${post.title()|h}</a>
            % if 'closed' in post.meta('type'):
                % if 'internships' in post.meta('tags') or 'jobs' in post.meta('tags'):
                    <span>(closed)</span>
                % endif
                % if 'emplois' in post.meta('tags') or 'stages' in post.meta('tags'):
                    <span>(fermé)</span>
                % endif
            % endif 
            </li>
        % endfor
        </ul>
    %endif
</article>
</%block>
